extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    form(method="post", enctype="multipart\/form-data", action="bikes/addbike")
      input(type="hidden", name="sid", value=sessionId)

      p Image:
          input(type="file", name="image")
      p
          input(type="submit", value="upload")
